@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
  --font-lara:var(--font-lara);
  --font-outfit : 'Outfit', 'sans-serif'
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lara:var(--font-lara);
  --font-outfit : 'Outfit', 'sans-serif' ,'Helvetica', 'Arial' 

}


/* Regular - 400 */
@font-face {
  font-family: 'Lara';
  src: url('/font/Lara-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Medium - 500 */
@font-face {
  font-family: 'Lara';
  src: url('/font/Lara-Book.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

/* Bold - 700 */
@font-face {
  font-family: 'Lara';
  src: url('/font/Lara-Light.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-outfit); */
  font-family: 'Lara', sans-serif;
}

